@inject AKDEMIC.CORE.Services.General.Interfaces.IConfigurationService _configurationService
@{
    bool allowRegistration = false;
    _ = bool.TryParse(await _configurationService.GetValueByKey(AKDEMIC.CORE.Constants.ConfigurationConstants.TEACHERINVESTIGATION.ALLOW_REGISTRATION_REQUEST), out allowRegistration);
}
<style>
    html, body {
        font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
    }

    .form-control {
        font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        border-radius: 0;
        border-radius: .25rem;
    }

    .m-form .m-form__group {
        margin-bottom: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .modal .modal-content .modal-header {
        padding: 15px;
    }

    label {
        display: inline-block;
        margin-bottom: 0rem;
    }

    .table th {
        font-weight: 600;
    }

    .m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__heading .m-menu__link-text, .m-aside-menu .m-menu__nav > .m-menu__item > .m-menu__link .m-menu__link-text {
        font-size: 1.02rem;
        text-transform: initial;
        font-weight: 600;
    }

    .table th, .table td {
        padding: .5rem;
    }
</style>

<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
    <li class="m-menu__item " aria-haspopup="true" is-active-route asp-page="/Index">
        <a asp-page="/Index" class="m-menu__link ">
            <i class="m-menu__link-icon la la-home"></i>
            <span class="m-menu__link-text">
                Inicio
            </span>
        </a>
    </li>

    @*Modulo de Investigación*@
    @if (User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.ACOMPANIANTE) || 
    User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.EVALUATOR_COMMITTEE) ||
    User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.TEACHERS) ||
    User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.SUPERADMIN) ||
    User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.TEACHERINVESTIGATION_ADMIN) ||
    User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.INNOVATION_TECHNOLOGY_TRANSFER_UNIT) ||
    User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.RESEARCH_PROMOTION_UNIT))
    {
        @if (        User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.SUPERADMIN) ||
                     User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.TEACHERINVESTIGATION_ADMIN) ||
                     User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.INNOVATION_TECHNOLOGY_TRANSFER_UNIT) ||
                     User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.RESEARCH_PROMOTION_UNIT))
        {
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
                <a href="javascript:;" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-map"></i>
                <span class="m-menu__link-text">
                    Administración
                </span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu ">
                <span class="m-menu__arrow"></span>
                <ul class="m-menu__subnav">
                        <li class="m-menu__item " aria-haspopup="true" is-active-route asp-area="Admin" asp-page="/InvestigacionFomento/InvestigacionformentoEvaluadoexternoPage/Index">
                            <a asp-area="Admin" asp-page="/InvestigacionFomento/InvestigacionformentoEvaluadoexternoPage/Index" asp-route-area="Admin" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">
                                    Evaluadores Externos
                                </span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true" is-active-route asp-area="Admin" asp-page="/InvestigacionFomento/MaestroAreaPage/Index">
                            <a asp-area="Admin" asp-page="/InvestigacionFomento/MaestroAreaPage/Index" asp-route-area="Admin" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                            <span class="m-menu__link-text">
                                Area
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true" is-active-route asp-area="Admin" asp-page="/InvestigacionFomento/MaestroCategoriaconvocatoriaPage/Index">
                        <a asp-area="Admin" asp-page="/InvestigacionFomento/MaestroCategoriaconvocatoriaPage/Index" asp-route-area="Admin" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                        <span class="m-menu__link-text">
                            Catgoria de Convocatoria
                        </span>
                        </a>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true" is-active-route asp-area="Admin" asp-page="/InvestigacionFomento/MaestroTipoconvocatoriaPage/Index">
                        <a asp-area="Admin" asp-page="/InvestigacionFomento/MaestroTipoconvocatoriaPage/Index" asp-route-area="Admin" class="m-menu__link ">
                        <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                        <span class="m-menu__link-text">
                            Tipo de Convocatoria
                        </span>
                        </a>
                    </li>
                    <li class="m-menu__item " aria-haspopup="true" is-active-route asp-area="Admin" asp-page="/InvestigacionFomento/InvestigacionfomentoFlujoPage/Index">
                        <a asp-area="Admin" asp-page="/InvestigacionFomento/InvestigacionfomentoFlujoPage/Index" asp-route-area="Admin" class="m-menu__link ">
                            <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                            <span class="m-menu__link-text">
                                Flujo
                            </span>
                        </a>
                    </li>
                        <li class="m-menu__item " aria-haspopup="true" is-active-route asp-area="Admin" asp-page="/InvestigacionFomento/InvestigacionfomentoRequisitoPage/Index">
                            <a asp-area="Admin" asp-page="/InvestigacionFomento/InvestigacionfomentoRequisitoPage/Index" asp-route-area="Admin" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">
                                    Requisito
                                </span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true" is-active-route asp-area="Admin" asp-page="/InvestigacionFomento/InvestigacionfomentoIndicadorPage/Index">
                            <a asp-area="Admin" asp-page="/InvestigacionFomento/InvestigacionfomentoIndicadorPage/Index" asp-route-area="Admin" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">
                                    Indicador
                                </span>
                            </a>
                        </li>
                      
                        <li class="m-menu__item " aria-haspopup="true" is-active-route asp-area="Admin" asp-page="/InvestigacionFomento/InvestigacionfomentoListaverificacionPage/Index">
                            <a asp-area="Admin" asp-page="/InvestigacionFomento/InvestigacionfomentoListaverificacionPage/Index" asp-route-area="Admin" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">
                                    Lista de verificación
                                </span>
                            </a>
                        </li>

                  </ul>
            </div>

        </li>
        }
        <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
            <a href="javascript:;" class="m-menu__link m-menu__toggle">
                <i class="m-menu__link-icon flaticon-map"></i>
                <span class="m-menu__link-text">
                    Gestión de Fomento
                </span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu ">
                <span class="m-menu__arrow"></span>
                <ul class="m-menu__subnav">
                    @if (User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.SUPERADMIN) ||
              User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.TEACHERINVESTIGATION_ADMIN) ||
              User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.INNOVATION_TECHNOLOGY_TRANSFER_UNIT) ||
              User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.RESEARCH_PROMOTION_UNIT))
                    {
                        <li class="m-menu__item " aria-haspopup="true" is-active-route asp-area="Admin" asp-page="/InvestigacionFomento/InvestigacionfomentoConvocatoriaPage/Index?tipoplan=A">
                            <a asp-area="Admin" asp-page-handler="TipoPlanAdmininstrador" asp-page="/InvestigacionFomento/InvestigacionfomentoConvocatoriaPage/Index" asp-route-area="Admin" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">
                                    Convocatoria
                                </span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true" is-active-route asp-area="Admin" asp-page="/InvestigacionFomento/InvestigacionfomentoConvocatoriaproyectoadminPage/Index?tipoplan=A">
                            <a asp-area="Admin" asp-page="/InvestigacionFomento/InvestigacionfomentoConvocatoriaproyectoadminPage/Index" asp-route-area="Admin" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">
                                    Proyecto (Admin)
                                </span>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.SUPERADMIN) ||
              User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.TEACHERINVESTIGATION_ADMIN) ||
              User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.INNOVATION_TECHNOLOGY_TRANSFER_UNIT) ||
              User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.RESEARCH_PROMOTION_UNIT) ||
              User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.TEACHERS))
                    {
                        <li class="m-menu__item " aria-haspopup="true" is-active-route asp-area="Admin" asp-page="/InvestigacionFomento/InvestigacionfomentoConvocatoriaproyectoPage/Index?tipoplan=A">
                            <a asp-area="Admin" asp-page="/InvestigacionFomento/InvestigacionfomentoConvocatoriaproyectoPage/Index" asp-route-area="Admin" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">
                                    Proyecto
                                </span>
                            </a>
                        </li>
                    }
                    @if (User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.SUPERADMIN) ||
                   User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.TEACHERINVESTIGATION_ADMIN) ||
                   User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.INNOVATION_TECHNOLOGY_TRANSFER_UNIT) ||
                   User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.RESEARCH_PROMOTION_UNIT))
                    {
                        <li class="m-menu__item " aria-haspopup="true" is-active-route asp-area="Admin" asp-page="/InvestigacionFomento/InvestigacionfomentoConvocatoriaproyectoPage/Index">
                            <a asp-area="Admin" asp-page-handler="Revision" asp-page="/InvestigacionFomento/InvestigacionfomentoConvocatoriaproyectoPage/Index" asp-route-area="Admin" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">
                                    Revisar Proyectos
                                </span>
                            </a>
                        </li>
                        
                    }
                   
                </ul>
            </div>

        </li>
        @if (User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.SUPERADMIN) ||
                     User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.TEACHERINVESTIGATION_ADMIN) ||
                     User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.INNOVATION_TECHNOLOGY_TRANSFER_UNIT) ||
                     User.IsInRole(AKDEMIC.CORE.Constants.GeneralConstants.ROLES.RESEARCH_PROMOTION_UNIT))
        {
            <li class="m-menu__item  m-menu__item--submenu" aria-haspopup="true" m-menu-submenu-toggle="hover">
                <a href="javascript:;" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-map"></i>
                    <span class="m-menu__link-text">
                        Reportes
                    </span>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu ">
                    <span class="m-menu__arrow"></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item " aria-haspopup="true" is-active-route asp-area="Report" asp-page="/InvestigacionFomento/InvestigacionfomentoProyectoactividadPage/Index">
                            <a asp-area="Report" asp-page="/InvestigacionFomento/InvestigacionfomentoProyectoactividadPage/Index" asp-route-area="Report" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">
                                    Resumen Actividades
                                </span>
                            </a>
                        </li>
                        <li class="m-menu__item " aria-haspopup="true" is-active-route asp-area="Report" asp-page="/InvestigacionFomento/InvestigacionfomentoProyectoactividaddocentePage/Index">
                            <a asp-area="Report" asp-page-handler="Resultado"  asp-page="/InvestigacionFomento/InvestigacionfomentoProyectoactividaddocentePage/Index" asp-route-area="Report" class="m-menu__link ">
                                <i class="m-menu__link-bullet m-menu__link-bullet--dot"><span></span></i>
                                <span class="m-menu__link-text">
                                    Actividades x docentes
                                </span>
                            </a>
                        </li>

                    </ul>
                </div>

            </li>
        }
    }

   

</ul>