@page "/recuperar-clave-confirmacion"
@model AKDEMIC.TEACHERINVESTIGATION.Areas.Identity.Pages.Account.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Correo enviado satisfactoriamente";
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
}


<div class="m-login__wrapper">
    <div class="form">
        <a href="#">
            <img class="logo" src="~/images/themes/@AKDEMIC.CORE.Constants.GeneralConstants.GetTheme()/logo.png">
        </a>
        <h1>@AKDEMIC.TEACHERINVESTIGATION.Helpers.ConstantHelpers.PROJECT.NAME.ToUpper()</h1>
        <h5>@ViewData["Title"]</h5>
        <label>
            Por favor revise su bandeja de correos para reiniciar su contraseña.
        </label>
        <div class="group">
            <a class="btn button-submit" style="color:white" asp-page="/Account/Login">INICIAR SESIÓN</a>
        </div>
    </div>
</div>
