@page "/restablecer-clave"
@model AKDEMIC.TEACHERINVESTIGATION.Areas.Identity.Pages.Account.ResetPasswordModel
@{
    ViewData["Title"] = "Restablece tu contraseña";
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
}

<div class="m-login__wrapper">
    <div class="form">
        <a href="#">
            <img class="logo" src="~/images/themes/@AKDEMIC.CORE.Constants.GeneralConstants.GetTheme()/logo.png">
        </a>
        <h1>@ViewData["Title"]</h1>
        <p>
            Por favor rellenar el siguiente formulario para restablecer su contrase&ntilde;a.
        </p>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="group">
                <input asp-for="Input.UserName" placeholder="USUARIO" autocomplete="off" />
                <img class="ico" src="~/images/login/user.svg" />
                <div class="bar"></div>
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="group">
                <input asp-for="Input.Password" type="password" placeholder="CONTRASEÑA" />
                <i class="fa fa-eye"></i>
                <img class="ico" src="~/images/login/pass.svg" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <div class="bar"></div>
            </div>
            <div class="group">
                <input asp-for="Input.ConfirmPassword" type="password" placeholder="CONFIRMAR CONTRASEÑA" />
                <i class="fa fa-eye"></i>
                <img class="ico" src="~/images/login/pass.svg" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                <div class="bar"></div>
            </div>
            <div class="group">
                <button type="submit" class="btn button-submit">
                    Restablecer contrase&ntilde;a
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(".group:eq(1)>i").hide();
        $(".group:eq(1)>i").click(function () {
            var x = document.getElementById("Input_Password");
            if (x.type === "password") {
                x.type = "text";
                this.className = "fa fa-eye-slash";
            }
            else {
                x.type = "password";
                this.className = "fa fa-eye";
            }
        });
        $(".group:eq(2)>i").hide();
        $(".group:eq(2)>i").click(function () {
            var x = document.getElementById("Input_ConfirmPassword");
            if (x.type === "password") {
                x.type = "text";
                this.className = "fa fa-eye-slash";
            }
            else {
                x.type = "password";
                this.className = "fa fa-eye";
            }
        });
        $("#Input_Password").on("focus", function () {
            $(".group:eq(1)>i").show();
            $(".ico:eq(1)").hide();
        }).on("blur", function () {
            if (this.value != "") return;
            $(".group:eq(1)>i").hide();
            $(".ico:eq(1)").show();
        });

        $("#Input_ConfirmPassword").on("focus", function () {
            $(".group:eq(2)>i").show();
            $(".ico:eq(2)").hide();
        }).on("blur", function () {
            if (this.value != "") return;
            $(".group:eq(2)>i").hide();
            $(".ico:eq(2)").show();
        });
    </script>
}
