@page "/restablecer-clave-confirmacion"
@model AKDEMIC.TEACHERINVESTIGATION.Areas.Identity.Pages.Account.ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación";
    Layout = "~/Pages/Shared/_LoginLayout.cshtml";
}

<div class="m-login__wrapper">
    <div class="form">
        <a href="#">
            <img class="logo" src="~/images/themes/@AKDEMIC.CORE.Constants.GeneralConstants.GetTheme()/logo.png">
        </a>
        <h1>CONFIRMACIÓN DE CONTRASE&Ntilde;A</h1>
        <p>
            Tu contrase&ntilde;a ha sido restablecida.<br />
            <a asp-page="/Account/Login" class="forget-password-label">Ir a la página de inicio</a>.
        </p>
    </div>
</div>
