@page "/unidad-emprendimiento/convocatorias-emprendimiento/{incubatorConvocationId:Guid}/coordinador-monitor"
@model AKDEMIC.TEACHERINVESTIGATION.Areas.IncubatorUnit.Pages.IncubatorConvocationPage.CoordinadorMonitorModel
@{
    ViewData["Title"] = "Gestión de Convocatorias";
    ViewBag.Breadcrumbs = new[]
    {
        new BreadcrumbViewData {Name="Gestión de Convocatorias", Url="/unidad-emprendimiento/convocatorias-emprendimiento"},
        new BreadcrumbViewData {Name="Detalle de Convocatoria", Url=$"/unidad-emprendimiento/convocatorias-emprendimiento/{Model.IncubatorConvocationId}/archivos" },
        new BreadcrumbViewData {Name="Lista de Coordinadores", Url = null },
    };
}

<input type="hidden" id="IncubatorConvocationId" value="@Model.IncubatorConvocationId" />
<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption" style="width:100%">
                <div class="m-portlet__head-title" style="width:100%;display: block;">
                    <h3 class="m-portlet__head-text" style="display:initial;">
                        Lista de miembros Coordinadores :
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-form--label-align-right m--margin-bottom-20">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row">
                            <div class="form-group m-form__group col-xl-4">
                                <div class="m-input m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input m-input--pill m-input--solid" placeholder="Buscar..." id="search">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                        <button id="AddBtn" class="btn btn-primary m-btn m-btn--icon">
                            <span>
                                <i class="la la-plus"></i>
                                <span>Agregar Miembro</span>
                            </span>
                        </button>
                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered" id="data-table"></table>
        </div>
    </div>
</div>


<!--Add Modal-->
<div class="modal fade" id="addModal" tabindex="-1000" role="dialog" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Agregar Nuevo Miembro
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="add-form" class="m-form m-form--state" asp-area="IncubatorUnit" asp-page="/IncubatorConvocationPage/CoordinatorMonitor" asp-page-handler="OnPost" method="post">
                <div class="modal-body">
                    <input type="hidden" name="InvestigationConvocationId" value="@Model.IncubatorConvocationId" />
                    <div class="m-form__group">
                        <label class="form-control-label">Buscar por Código o Nombre</label>
                        <select name="UserId" class="form-control"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <div style="text-align:right;">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Cancelar
                        </button>
                        <button id="btnSave" type="submit" class="btn btn-primary ladda-button" data-style="slide-down">
                            <span class="ladda-label">Agregar</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/areas/incubatorunit/incubatorconvocation/coordinatormonitor.js" asp-append-version="true"></script>
}