@page "/investigador/publicaciones"

@model AKDEMIC.TEACHERINVESTIGATION.Areas.Teacher.Pages.PublicationPage.IndexModel
@{
    ViewData["Title"] = "Mis Publicaciones";
    ViewBag.Breadcrumbs = new[]
    {
        new BreadcrumbViewData {Name="Mis Publicaciones", Url = null},
    };
}



<div class="m-content">
    <div class="m-portlet">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption" style="width:100%">
                <div class="m-portlet__head-title" style="width:100%;display: block;">
                    <h3 class="m-portlet__head-text" style="display:initial;">
                        @ViewData["Title"]
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="m-form--label-align-right m--margin-bottom-20">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="row">
                            <div class="form-group m-form__group col-xl-6">
                                <label>Categoría de trabajo</label>
                                <select name="workCategory" id="workCategory" class="form-control"> 
                                    <option value="0" selected>Todos</option>
                                    @foreach (var workCategory in TeacherInvestigationConstants.Publication.WorkCategory.VALUES)
                                    {
                                        <option value="@workCategory.Key">@workCategory.Value</option>
                                    }

                                </select>
                            </div>
                            <div class="form-group m-form__group col-xl-6">
                                <label>Tipo de Obra</label>
                                <select name="opusTypeId" id="opusTypeId" class="form-control"> 
                                    <option value="0" selected>Todos</option>
                                </select>
                            </div>
                            <div class="form-group m-form__group col-xl-6">
                                <label>&emsp;</label>
                                <div class="m-input m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input m-input--pill m-input--solid" placeholder="Buscar..." id="search">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                        <span><i class="la la-search"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                        <a asp-area="Teacher" asp-page="/PublicationPage/Create" class="btn btn-primary m-btn m-btn--icon">
                            <span>
                                <i class="la la-plus"></i>
                                <span>Nueva Publicación</span>
                            </span>
                        </a>
                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                    </div>
                </div>
            </div>
            @Html.AntiForgeryToken()
            <table class="table table-striped table-bordered" id="data-table"></table>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/areas/teacher/publication/index.js" asp-append-version="true"></script>
}
